<div class="first_block"   >

  <button    class="button_first_block" (click)="openModal('custom-modal-1')" > Добавить пост </button>

  <button   class="button_first_block" > Log out </button>

</div>
<div class="second_block">

 <div class="p1_text"> INFORMER</div>
  <table class="tr_first">
    <tr>
      <td><button class="button_second_block"  >Игры</button></td>
      <td><button class="button_second_block" >Техника </button> </td>

    </tr>

  </table>
  <div class="p_block" > Про Игры </div>


</div>

<jw-modal id="custom-modal-1">
  <form>
    <p style=" text-align: center; font-size: 20px; color: white;"> Title </p>
    <div><input class="input" name= "title" id ="title" type="text"   /></div>
    <p style=" text-align: center; font-size: 20px; color: white; padding: 10px; "> Content </p>
    <div><textarea class=input_post  name="content" id="content" type="textarea"  ></textarea></div>
    <button class="button_popup" (click)="closeModal('custom-modal-1');"> Закрыть</button>
    <button class="button_popup" type ="submit"    > Сохранить </button>

  </form>


</jw-modal>


<div class="footer">
  <p  class="p1_text">INFORMER</p>

</div>



